@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
:root {
  --orange: #f15a29;
  --light-orange:#ffe6dc;
  --sunset-orange: #fcbb6d;
  --turquoise: #4abdac;
  --ligh-gray: #d3d3d3;
  --dark-gray: #3b3b3b;
  --brown: #5b2311;
  --dark-brown: #2c0d00;
}
* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: var(--dark-gray);
}
